<h4>City Name: <%= @city.name %></h4>
<h5>City ID: <%= @city.city_id %></h5>


<p><a href="/home/operator/cities/<%= @city.city_id %>/edit">Edit City Name</a></p>
<a href="/home/operator">Return to Operator Home</a>
