<h4>Train Name: <%= @train.name %></h4>
<h5>Train ID: <%= @train.train_id %></h5>


<p><a href="/home/operator/trains/<%= @train.train_id %>/edit">Edit Train Name</a></p>
<a href="/home/operator/">Return to Operator Home</a>
